body {
    margin: 0;
    /* font-size: 28px; */
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

#navbar {
    overflow: hidden;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 999;
}

#navbar .alink , #navbar h3{
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#navbar h3 {
    margin: 0;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2em;
}

#navbar .alink:hover {
    background-color: #ddd;
    color: black;
}

#newstd {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.addsucc {
  border: 2px solid;
}

/* .feature {
    
} */

.feature:hover {
    cursor: pointer;
    box-shadow: 0 0 .5cm gray;
    transition: .2s;
    transform: scale(1.01);
    background-color: white;
    
}

.majornew h2{
    border-bottom-style: none;
    font-size: 3em;
}



/*Custom select box*/

.chkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .chkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .chkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .chkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .chkcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .chkcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }





  footer {
    display: block;
    margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
  }

  #footer {
		background-color: #f7f7f7;
		color: #444;
		padding: 5em 0 4em 0;
		position: relative;
	}


  #footer:before {
    background-color: #ddd;
    content: '';
    height: 1px;
    left: 30%;
    position: absolute;
    top: 0;
    width: 40%;
  }

  #footer .copyright {
    color: #bbb;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1280px) {

    #footer {
      padding: 4em 2em 3em 2em;
    }

  }

  @media screen and (max-width: 980px) {

    #footer {
      padding: 3em 2em 2em 2em;
    }

      #footer:before {
        width: 75%;
        left: 12.5%;
      }

  }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 2em 1em 2em;
    }

      #footer:before {
        width: 85%;
        left: 7.5%;
      }

      #footer .copyright li {
        display: block;
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

  }

  @media screen and (max-width: 480px) {

    #footer {
      padding: 2em 1em 0.1em 1em;
    }

  }

#dptselect {
  width: 150px;
}



#two {
  /* background-color: s; */
  padding: 3.5em 0 3.5em 0;
}





/* table {
  width: 50%;
} */

#newstd td {
  /* background-color: dodgerblue; */
  padding: 1em 0;
}

#newstd tr:not(:last-child) td {
  /* background-color: dodgerblue; */
  padding: 1em 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


.actionIcon:hover {
  cursor: pointer;
}


.label-default{
  background-color:rgb(58, 59, 61);
  border-radius: 4px;
  color: white;
  padding: 2px 5px;
}
.label-default[href]:focus,.label-default[href]:hover{
  background-color:#5e5e5e
}

.label-inactive {
  background-color: rgba(0,0,0,0.1);
  border-radius: 25px;
  padding:0.5em;
}

.label-border{
  border-bottom: 1px solid black;
}

.floatbtn {
  float: left;
  position: fixed;
  left: 1.5em;
  bottom: 3em;
  box-shadow: 0 0 0.5em gray;
  width: 3em;
  height: 3em;
}

.btn-custom {
  background-color: rgba(0,0,0,0.1);
  border: none;
  padding: 0.5em 1em;
  border-radius: 25px;
}

.prog-complete{
  background-color: rgb(0, 150, 0);
  color: white;
}